{% extends 'petapp/base.html' %}

{% block title %}
  Update Info - PetHomeBD
{% endblock %}

{% block content %}
  <div class="container mx-auto flex">
    <!-- Sidebar -->
    <button id="toggleButton" class="fixed top-28 left-0 z-50 py-4 px-2 bg-rose-600 text-white rounded-r-md md:hidden transform -translate-y-1/2 transition-all duration-300" onclick="toggleDrawer()"><i id="toggleIcon" class="fa-solid fa-caret-down transform -rotate-90"></i></button>

    <!-- Sidebar -->
    <div id="sidebar" class="w-64 bg-white pt-20 h-screen transform transition-transform -translate-x-full md:translate-x-0 fixed md:relative z-40 md:z-auto">
      <div class="flex flex-col h-full">
        <nav class="flex-1 p-4">
          <ul class="space-y-2">
            <li>
              <a href="{% url 'dashboard' %}">
                <button class="w-full flex items-center gap-2 px-4 py-2 rounded-lg transition-colors 
                {% if current_page == 'dashboard' %}
                     bg-rose-50 text-rose-600
                  {% else %}
                     text-gray-600 hover:bg-gray-50
                  {% endif %}">
                  <i class="fa-solid fa-gauge {% if current_page == 'dashboard' %}
                       text-rose-600
                    {% else %}
                       text-gray-600
                    {% endif %}">
                  </i>
                  Dashboard
                </button>
              </a>
            </li>
            <li>
              <a href="{% url 'totalPets' %}">
                <button class="w-full flex items-center gap-2 px-4 py-2 rounded-lg transition-colors 
                  {% if current_page == 'myPets' %}                   
                    bg-rose-50 text-rose-600
                  {% else %}
                    
                    text-gray-600 hover:bg-gray-50

                  {% endif %}">
                  <i class="fas fa-paw {% if current_page == 'myPets' %}
                      
                      text-rose-600

                    {% else %}
                      
                      text-gray-600

                    {% endif %}">

                  </i>
                  My Pets
                </button>
              </a>
            </li>
            <li>
              <a href="{% url 'totalRequest' %}">
                <button class="w-full flex items-center gap-2 px-4 py-2 rounded-lg transition-colors 
                  {% if current_page == 'totalRequest' %}
                    
                    bg-rose-50 text-rose-600

                  {% else %}
                    
                    text-gray-600 hover:bg-gray-50

                  {% endif %}">
                  <i class="fas fa-bell {% if current_page == 'totalRequest' %}
                      
                      text-rose-600

                    {% else %}
                      
                      text-gray-600

                    {% endif %}">

                  </i>
                  Requests
                </button>
              </a>
            </li>
            <li>
              <a href="{% url 'updateInfo' %}">
                <button class="w-full flex items-center gap-2 px-4 py-2 rounded-lg transition-colors 
                  {% if current_page == 'updateInfo' %}
                    
                    bg-rose-50 text-rose-600

                  {% else %}
                    
                    text-gray-600 hover:bg-gray-50

                  {% endif %}">
                  <i class="fas fa-cog {% if current_page == 'updateInfo' %}
                      
                      text-rose-600

                    {% else %}
                      
                      text-gray-600

                    {% endif %}">

                  </i>
                  Settings
                </button>
              </a>
            </li>
          </ul>
        </nav>
        <div class="p-4 border-t">
          <a href="{% url 'logout' %}?next={{ request.path }}">
            <button class="w-full flex items-center gap-2 px-4 py-2 text-gray-600 hover:bg-gray-50 rounded-lg transition-colors">
              <i class="fas fa-sign-out-alt text-gray-600"></i>
              Sign Out
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md lg:max-w-2xl py-16 pt-20">
      <div class="bg-white py-8 px-4 shadow-lg sm:rounded-lg sm:px-10">
        <form class="space-y-6" method="POST">
          {% csrf_token %}
          <div class="flex justify-between gap-2">
            <div>
              <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
              <div class="mt-1 relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <i class="fas fa-user text-gray-400"></i>
                </div>
                <input id="firstName" name="first_name" type="text" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter first name" value="{{ user.first_name }}" />
              </div>
            </div>

            <div>
              <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
              <div class="mt-1 relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <i class="fas fa-user text-gray-400"></i>
                </div>
                <input id="lastName" name="last_name" type="text" value="{{ user.last_name }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter last name" />
              </div>
            </div>
          </div>

          <div>
            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-user text-gray-400"></i>
              </div>
              <input id="username" name="username" type="text" value="{{ user.username }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your last name" />
            </div>
          </div>

          <div>
            <label for="emailAddress" class="block text-sm font-medium text-gray-700">Email address</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-envelope text-gray-400"></i>
              </div>
              <input id="emailAddress" name="email" type="email" value="{{ user.email }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your email" />
            </div>
          </div>

          <div>
            <label for="phone1" class="block text-sm font-medium text-gray-700">Phone Number</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-phone text-gray-400"></i>
              </div>
              <input id="phone1" name="phone1" type="tel" value="{{ user.phone1 }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your phone number" />
            </div>
          </div>

          <div>
            <label for="phone2" class="block text-sm font-medium text-gray-700">Phone Number (Optional)</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-phone text-gray-400"></i>
              </div>
              <input id="phone2" name="phone2" type="tel" value="{{ user.phone2 }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your phone number" />
            </div>
          </div>

          <div>
            <label for="socialLink" class="block text-sm font-medium text-gray-700">Social Media link (Facebook, Instagram)</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-link text-gray-400"></i>
              </div>
              <input id="socialLink" name="social_link" type="text" value="{{ user.social_link }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your phone number" />
            </div>
          </div>

          <div>
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-location-dot text-gray-400"></i>
              </div>
              <input id="address" name="address" type="tel" value="{{ user.address }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your phone number" />
            </div>
          </div>

          <div>
            <label for="state" class="block text-sm font-medium text-gray-700">State</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-building text-gray-400"></i>
              </div>
              <input id="state" name="state" type="text" value="{{ user.state }}" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Enter your phone number" />
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">current password</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-lock text-gray-400"></i>
              </div>
              <input id="password" name="current_password" type="password" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Current Password" />
            </div>
          </div>
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-lock text-gray-400"></i>
              </div>
              <input id="password" name="new_password" type="password" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Create a password" />
            </div>
          </div>

          <div>
            <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
            <div class="mt-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <i class="fas fa-lock text-gray-400"></i>
              </div>
              <input id="confirmPassword" name="confirm_password" type="password" class="appearance-none block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-rose-500 focus:border-rose-500" placeholder="Confirm your password" />
            </div>
          </div>

          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="bg-green-300 p-4 rounded-lg border border-green-400 text-green-900 font-medium mt-2">
                  <p>{{ message }}</p>
                </div>
              {% endif %}
              {% if message.tags == 'error' %}
                <div class="bg-red-300 p-4 rounded-lg border border-red-400 text-red-900 font-medium mt-2">
                  <p>{{ message }}</p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}

          <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500">Update</button>
          </div>
        </form>

        <div class="mt-6"></div>
      </div>
    </div>
  </div>

  {% comment %} <script>
    function toggleDrawer() {
      const sidebar = document.getElementById('sidebar')
      const overlay = document.getElementById('drawerOverlay')
    
      // Toggle sidebar visibility
      sidebar.classList.toggle('-translate-x-full')
    
      // Toggle overlay visibility
      if (sidebar.classList.contains('-translate-x-full')) {
        overlay.classList.add('hidden')
      } else {
        overlay.classList.remove('hidden')
      }
    }
  </script> {% endcomment %}
{% endblock %}
